//- Lightvue - button
.lv-button {
  $root: &;

  &.--deep-shadow {
    box-shadow: 0 6px 16px -1px rgba($dark, .5) !important;
  }

  &__label {
    display: flex !important;
    align-items: center !important;
    gap: .5rem !important;
  }

  &--center-content {
    #{$root}__label {
      justify-content: center !important;
    }
  }

  &--ml-10 {
    margin-right: unset !important;
    margin-left: 10px !important;
  }

  //- Define `dark-mode` theme colors
  body.dark & {
    background-color: lighten($dark, 5%) !important;
    border: 2px solid lighten($dark, 18%) !important;
    color: $white!important;
  }
}

//- Lightvue - dialog
.lv-dialog {
  &-footer {
    display: flex !important;
    justify-content: flex-end !important;
  }
}

//- Lightvue - input
.lv-input {
  &__group {
    flex: 1 !important;
    width: 100% !important;
  }

  &__field {
    &::after {
      background-color: $dark !important;
    }
  }
}

//- Lightvue color picker
.lv-colorpicker-wrapper {
  flex: 1 !important;
  width: 100% !important;
}

//- Lightvue drop down
.lv-dropdown {
  flex: 1 !important;
}

//- Table lite
.vtl {
  &-card {
    background-color: $white !important;
    &-title {
      font-size: 1.5rem;
      margin: 2rem 0 1rem;
      font-weight: 500;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 1rem;

    i {
      font-size: 1.25rem;
      color: $success;
      font-weight: 600;
    }

    &--linethrough {
      text-decoration: line-through;
    }
  }

  &__bottom {
    height: 200px;
    display: flex;
    
    h2 {
      align-self: flex-start;
    }
  }
}

//- Custom styles
.col {
  margin-top: 1rem;
  
  &--flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

//- Headline
//- Sub headline
.sub-headline {
  font-size: 1.25rem;
  margin: 2rem 0 1.5rem;
  font-weight: 600;
  color: #495057;

  p {
    font-size: .75rem;
    text-align: right;
    margin-top: .5rem;
  }

  &--flex-start {
    margin-right: auto !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &--flex-end {
    margin-left: auto !important;
  }
}